---
/**
 * astro
 */
import { ViewTransitions, fade } from "astro:transitions";

/**
 * constants
 */
import { SITE_URL, SITE_NAME, SITE_TITLE, SITE_KEYWORD, SITE_DESCRIPTION } from "@constants/site";

/**
 * components
 */

/**
 * Props
 */
interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <title>{`${title} | ${SITE_NAME}`}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="og:locale" content="ja_JP" id="head-meta-og-locale" />
    <meta property="og:type" content="website" id="head-meta-og-type" />
    <link rel="canonical" href={SITE_URL} />
    <meta name="description" content={description || SITE_DESCRIPTION} id="head-meta-description" />
    <meta name="keywords" content={keywords || SITE_KEYWORD} id="head-meta-keywords" />
    <meta property="og:title" content={`${title} | ${SITE_NAME}`} id="head-meta-og-title" />
    <meta property="og:description" content={description} id="head-meta-og-description" />

    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <slot />
    <script>
      import { SmoothScroll } from "@scripts/SmoothScroll/SmoothScroll";
      new SmoothScroll();
    </script>
  </body>
</html>
